@font-face {
    font-family: 'Netflix Sans';
    font-weight: 700;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff) format('woff')
}

@tailwind base;
@tailwind components;
@tailwind utilities;


/* .landing{
    height: 350px;
    min-height: 100vh;
    background: url(./src/Assets/POP_SIGNUP_.jpg);
    background-size: cover;
    background-position:top;
    background-repeat: no-repeat;
    position: relative;
} */

body {
    font-family: 'Netflix Sans', sans-serif;
}
.where{
     font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif
}
details{
    /* border: 1px solid green; */
    /* padding: 1rem; */
    /* padding-left: 50px; */
    margin-bottom: 8px;
    cursor: pointer;
}
summary{
    
    list-style: none;
    /* display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    position: relative; */

}

summary::after{
    content:"+";
    font-size: 34px;
    margin-left: auto; 
    transition: content 0.3s;
}
details[open] summary::after{
    content:"\00D7";
}
details[open] summary .icon {
  content: "\00D7"; /* '×' character */
}